body {

  color: #2F3F73;
  background-color: #FFF3FA;

}

div {

  font-family: 'Abel', sans-serif;
  font-size: 20px;

}

div thead th {

  padding: 5px 5px 5px 5px;

}

div tbody th {

  padding: 5px 5px 5px 5px;

}

div tfoot th {

  border-top: 4px double #2F3F73;
  padding: 5px 5px 5px 5px;

}

div tfoot td {

  border-top: 4px double #2F3F73;
  padding: 5px 5px 5px 5px;

}

.locationButton {


  font-family: 'Pacifico', cursive;
  font-size: 32px;
  text-shadow: 0px 0px 30px lightblue;
  -webkit-transition: text-shadow 1s;

}

.locationButton:hover {

  text-shadow: 2px 2px 15px #226666;
  -webkit-transition: text-shadow 1s;

}
.newTable {

  opacity: 1;
  -webkit-transform: translateX(400px);
  -webkit-transition: opacity 1s, -webkit-transform 1s;

}
.currentTable {

  opacity: 1;
  -webkit-transition: opacity 1s, -webkit-transform 1s;

}

.oldTable {

  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  -webkit-transform: translateX(-400px);

}


#customDonuts {
/*  display:none;
*/
/*  background-color: red;
*/  position: fixed;
  top: 300px;
  left: 0px;
  width: 320px;

}

#showHideButton {

  position: relative;
  color: black;
  text-align: center;
  background-color: lightblue;
  width:35px;
  height:35px;
  left:35px;

}
