nav {

  position: relative;
  width: 965px;
  margin: auto 300px;

}
body {

  color: #2F3F73;
  background-color: #FFFCDC;

}

div {

  font-family: 'Abel', sans-serif;
  font-size: 20px;

}

div thead th {

  padding: 5px 5px 5px 5px;

}

div tbody th {

  padding: 5px 5px 5px 5px;

}

div tfoot th {

  border-top: 4px double #2F3F73;
  padding: 5px 5px 5px 5px;

}

div tfoot td {

  border-top: 4px double #2F3F73;
  padding: 5px 5px 5px 5px;

}

#locationHead {

  border-bottom: 4px double #2F3F73;

}

.locationButton {


  font-family: 'Pacifico', cursive;
  font-size: 32px;
  text-shadow: 0px 0px 30px lightblue;
  cursor: pointer;
  -webkit-transition: text-shadow 1s;


}

.locationButtonSelected {

  font-family: 'Pacifico', cursive;
  font-size: 32px;
  text-shadow: 2px 2px 15px #505F90;
  cursor: pointer;
  -webkit-transition: text-shadow 1s;

}

.newTable {
  position: absolute;
  width: 146px;
  margin-left: 719px;
  opacity: 0;
  -webkit-transform: translateX(350px);
  -webkit-transition: opacity 1s, -webkit-transform 1s;

}

.currentTable {
  position: absolute;
  width: 146px;
  margin-left: 719px;
  opacity: 1;
  -webkit-transition: opacity 1s, -webkit-transform 1s;

}

.oldTable {
  position: absolute;
  width: 146px;
  margin-left: 719px;
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  -webkit-transform: translateX(-350px);

}

#showHideButton {

  position: absolute;
  color: black;
  text-align: center;
  background-color: lightblue;
  width:35px;
  height:35px;
  top: 0px;
  right:-35px;
  line-height: 34px;
  cursor: pointer;

}

.customDonutsHidden {

  background-color: rgba(47, 63, 115, 0.2);
  position: fixed;
  top: 140px;
  left: -340px;
  width: 340px;
  -webkit-transition: left 1s;

}

.customDonutsShown {

  background-color: rgba(47, 63, 115, 0.2);
  position: fixed;
  top: 140px;
  left: 4px;
  width: 340px;
  -webkit-transition: left 1s;

}

.customEntry {

  float: left;
  width: 152px;
  text-align: right;
  padding-right: 10px;

}

#customSubmit {

  width: 100px;
  margin: 8px auto;
  text-align: center;
  border-top: 2px solid #2F3F73;
  border-bottom: 2px solid #2F3F73;
  cursor: pointer;
  padding: 2px;
  line-height: 34px;

}

#bodyContainer {
  margin:0;
  padding:0;
}

#forbiddenMessage {

  position: fixed;
  top: 300px;
  left: 400px;
  color: black;
  font-size: 80pt;
  -webkit-animation: verbotenMessage 0.5s linear infinite;
  display: none;
}

@-webkit-keyframes verbotenMessage {
    from   {-webkit-transform: scale(1, 1);}
    to  {-webkit-transform: scale(2, 2);}
}

#forbiddenDonut {

  position: relative;
  width: 140px;
  top: 600px;
  left: 100px;
  cursor: pointer;

}

.forbiddenAnimation {

  -webkit-animation: verboten 0.2s linear infinite;

}

@-webkit-keyframes verboten {
    from   {background-color: red; -webkit-transform: rotate(0deg);}
    to  {background-color: blue; -webkit-transform: rotate(360deg);}
}
